div {
    font-family: Arial, Helvetica, sans-serif;
    background-color: deeppink;
}

/* Style data attached by ID attribute */
#Note {
    border-right: thin solid;
}

/* Style data attached by class attribute */
.note {
    font-style: italic;
}

.h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
ul.poodlelist {
    list-style: square url("https://i.pinimg.com/originals/fb/24/bf/fb24bf0b4d3b9ce12461c666fb410591.jpg");
}