div {
    font-family: Arial, Helvetica, sans-serif;
    background-color: deeppink;
}

/* Style data attached by ID attribute */
#Note {
    border-right: thin solid;
}

/* Style data attached by class attribute */
.note {
    font-style: italic;
}

.h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
ul.poodlelist {
    list-style-type: square;
}

ol.poodlelist {
    list-style-type: upper-latin;
}

h3.one {
    border: thin dotted deepskyblue;
}

h3.two {
    border: thick dashed white;
    padding: 50px 50px 50px 50px;
}

h3.three {
    border: thick double chocolate;
}

ol {
    margin: 50px 50px 50px 50px;
}

